<!DOCTYPE html>
<html lang="en">

  <head>
	<title>Assignment 5</title>
	  
	<link rel="icon" href="resources/favicon.svg" type="image/svg+xml">
	  
  </head>


  <body>
    <svg width="100%" height="300px" version="1.1">
        <rect width="100%" height="100%" fill="purple" />
        <circle cx="4" cy="5" r="40" fill="black" />
        <circle cx="300" cy="80" r="40" fill="black" />
        <circle cx="600" cy="20" r="40" fill="black" />
        <circle cx="400" cy="250" r="40" fill="black" />   
    </svg>

  </body>

  <nav class="menu">
	  <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./two.html">Page Two</a></li>
        <li><a href="./three.html">Page Three</a></li>
      </ul>
  </nav>

<h1>Favorite Coding Resource</h1>

<body>
    <table border="1">
    <caption>
    	Top Coding Resources
    </caption>
        <thead>
    	    <tr>
        	<th>Coding Resource</th>
                <th>Link</th>
    	    </tr>
        </thead>
        <tr>
    		<td>Stack Overflow</td>
            <td><a href="https://stackoverflow.com">https://stackoverflow.com</a></td>
        </tr>
        <tr>
        	<td>Geeks for Geeks</td>
            <td><a href="https://www.geeksforgeeks.org">https://www.geeksforgeeks.org</a></td>
        </tr>
        <tr>
        	<td>w3 Schools</td>
            <td><a href="https://www.geeksforgeeks.org">https://www.geeksforgeeks.org</a></td>
        </tr>
       </table>
   </body>

</html>
